@font-face {
  font-family: "Red Hat Display";
  font-weight: 500;
  src: local("RedHatDisplay-Regular"),
    url("/assets/fonts/red-hat-display-v19-latin-500.woff2"),
    url("/assets/fonts/red-hat-display-v19-latin-500.woff");
}

@font-face {
  font-family: "Red Hat Display";
  font-weight: 900;
  src: local("RedHatDisplay-Black"),
    url("/assets/fonts/red-hat-display-v19-latin-900.woff2"),
    url("/assets/fonts/red-hat-display-v19-latin-900.woff");
}

/* --------------- CSS Reset --------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

*:focus-visible {
  outline: 0.125rem dotted green;
  outline-offset: 0.125rem;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button {
  font: inherit;
}

/* --------------- CSS Variables --------------- */
:root {
  --ff-red-hat-display: "Red Hat Display", sans-serif;

  --clr-primary-400: hsl(192, 37%, 48%);
  --clr-primary-600: hsl(268, 34%, 53%);

  --clr-secondary-400: hsl(192, 90%, 77%);
  --clr-secondary-600: hsl(268, 100%, 86%);

  --clr-neutral-100: hsl(0, 0%, 98%);
  --clr-neutral-400: hsl(240, 10%, 36%);
  --clr-neutral-900: hsl(240, 21%, 20%);

  --clr-primary-400-hover: hsl(192, 37%, 58%);
  --clr-primary-600-hover: hsl(268, 34%, 63%);

  --fw-medium: 500;
  --fw-black: 900;

  --fs-350: 1rem;
  --fs-400: 1rem;
  --fs-800: 2rem;
  --fs-900: 2.5rem;

  --fs-primary-heading: var(--fs-900);
  --fs-secondary-heading: var(--fs-800);
  --fs-primary-body: var(--fs-400);
  --fs-secondary-body: var(--fs-350);

  --clr-primary-heading: var(--clr-neutral-900);
  --clr-primary-body: var(--clr-neutral-400);
  --clr-secondary-heading: var(--clr-neutral-100);
  --clr-secondary-body: var(--clr-neutral-100);
}
/* --------------- End of CSS Variables --------------- */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--ff-red-hat-display);
  font-size: var(--fs-primary-body);
  font-weight: var(--fw-medium);
  color: var(--clr-primary-body);
  background-color: var(--clr-neutral-100);
}

.header {
  padding: 3rem 0;
}

.logo-img {
  width: 7.5rem;
  height: 1.75rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.picture-right {
  display: none;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1.5rem;
}

.hero-content {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 3rem;
}

.hero-title {
  font-size: var(--fs-primary-heading);
  color: var(--clr-primary-heading);
}

.btns-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.btn {
  font-size: var(--fs-secondary-body);
  font-weight: var(--fw-black);
  color: var(--clr-neutral-100);
  border: none;
  border-radius: 50px;
  padding: 1.5rem 2.5rem;
}

.btn-primary {
  background-color: var(--clr-primary-400);
}

.btn-primary-selection {
  color: var(--clr-secondary-400);
}

.btn-primary:hover {
  cursor: pointer;
  background-color: var(--clr-primary-400-hover);
}

.btn-secondary {
  background-color: var(--clr-primary-600);
}

.btn-secondary-selection {
  color: var(--clr-secondary-600);
}

.btn-secondary:hover {
  cursor: pointer;
  background-color: var(--clr-primary-600-hover);
}

.content-section-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.content-wrapper-one {
  max-width: 37rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ribbon-text {
  font-size: var(--fs-secondary-body);
  font-weight: var(--fw-black);
  letter-spacing: 4px;
  color: var(--clr-primary-400);
}

.content-title {
  font-size: var(--fs-secondary-heading);
  color: var(--clr-primary-heading);
}

.content-title-one {
  max-width: 28rem;
  margin-top: 1.5rem;
}

.content-description-one {
  margin-top: 2rem;
  line-height: 1.625;
}

.content-section-two {
  width: 100%;
  background-color: var(--clr-primary-400);
}

.content-wrapper-two {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 4rem 0;
}

.content-title-two {
  color: var(--clr-secondary-heading);
}

.content-description-two {
  max-width: 21.875rem;
  color: var(--clr-secondary-body);
  margin-bottom: 0.5rem;
}

/* --------------- Media Queries --------------- */
@media (min-width: 48rem) {
  :root {
    --fs-800: 2.5rem;
    --fs-900: 3rem;
  }

  .btns-wrapper {
    flex-direction: row;
  }

  .content-title-one {
    margin-top: 1rem;
  }

  .content-wrapper-two {
    gap: 2rem;
  }
}

@media (min-width: 64rem) {
  :root {
    --fs-400: 1.125rem;
    --fs-900: 4rem;
  }

  .picture-right {
    display: block;
  }

  .content-wrapper-two {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}
